.main {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 100%;
}

.avatars {
  /* display: grid; */
  /* grid-template-columns: repeat(8, 1fr); */
  display: flex;
  gap: 20px;
  align-items: center;
}

.title {
  margin: 20px 0;
}